.btn-lg{
    background-color: green;
    color: white;
}
.card{
    box-shadow: 2px 3px;
}
.card-subtitle{
    color: black;
}
.card-title{
    font-size: large;
    
}
.card-title:hover{
    color: black;
}
#compose-button{
    margin: 35px;
    margin-left: 60px;
}
#compose-button:hover{
    
    cursor:pointer;
}
.email-box:hover{
    background-color: rgb(162, 202, 162);
    color: black;
    border: black ridge;
    cursor:pointer;

}
#first{
    background-color: rgb(162, 202, 162);
    
}
#greeting{
    color:green;
    font-size: 20px;
}
.headings{
    margin: 20px;
}
#left-column{
    background-color: lightgray;
    height: 100%;  
}
#messg-box{   
    bottom: 0;
    margin-top: 40px;
    margin-top: 30px;
}
#middle-column{
    background-color: grey;
    height: 100%;
}
#profile{
    margin-top: 30px;
}
#right-column{
    background-color: rgb(162, 202, 162);
    height: 100%;
}
#send-button{
    background-color: white;
    color: green;
}
.sidebar-nav{
    list-style: none;
}
.sidebar-nav li a{
    padding: 5px;
    display: block;
    text-decoration: none;
    color: green;
    font-size: larger;
}
.sidebar-nav li a:hover{
    color: white;
}
#subject-line{
    margin-bottom: 50px;
}
#test{
    width: 100%;
}









