a{
    color: black;
    font-size: 20px;
}
a:hover{
    color: white;
    text-decoration: none;
    text-align: center;
}
.btn-lg{
    background-color: green;
    color: white;
    margin-bottom: 100px;
}
.card{
    box-shadow: 2px 3px;
}
.card-subtitle{
    color: black;
}
.card-title{
    font-size: large;
    
}
.card-title:hover{
    color: black;
}

#compose-button:hover{
    
    cursor:pointer;
}
.container-one{
    display: flex;
    justify-content: center;
    
}
.email-box:hover{
    background-color: rgb(162, 202, 162);
    color: black;
    border: black ridge;
    cursor:pointer;

}
#first{
    background-color: rgb(162, 202, 162);
    
}
#greeting{
    color:green;
    
}
.headings{
    margin: 20px;
}
li{
    margin: 10px;
}
#left-column{
    background-color: rgb(206, 221, 206);
    height: 100%;
    
}
#messg-box{   
    bottom: 0;
    margin-top: 40px;
    margin-bottom: 30px;
}
#middle-column{
    background-color: grey;
    height: 100%;
}
.nav-link a{
    text-decoration: none;
}
.nav-link a:hover{
    text-decoration: none;
    color: white;
}

#profile{
    margin-top: 30px;
}
#right-column{
    background-color: rgb(162, 202, 162);
    height: 100%;
}
#send-button{
    background-color: white;
    color: green;
    margin-top: 50px;
}
#subject-line{
    margin-bottom: 50px;
}
#test{
    width: 100%;
}
ul{
    list-style-type: none;
}
.wrapper{
    text-align: center;
}

@media (max-width: 400px) {
    .container-one{
        display: flex;
        justify-content: left;
    }
    .btn-lg{
        margin: 0;
    }
    #left-column {
      height: 100px;
    }
  }







